@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { 
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

p {    
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.6;
  color: #75818C;
}
/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 60%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  padding: 15px 0; 
  border-bottom: .5px solid #F1F9F1;
  position: absolute;
  z-index: 1;
}

.lines { display: none; }
h1 { float: left; }

nav { 
  padding-right: 7px;
  float: right; 
}

nav a {
  padding: 8px 6px;
  color: #F1F9F1;
  font-size: 12px;
  text-transform: capitalize;
}

nav a:hover { background-color: #3E7FFC; }

.active-nav { 
  padding: 8px 20px;
  background-color: #3E7FFC;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styling starts here */
.banner .wrapper { 
  width: 100%; 
  position: relative;
}

.banner li { display: none; }
.banner li:first-child { display: block; }

.slider-info {
  width: 43%;
  position: absolute;
  top: 202px;
  left: 20%;
  color: #fff;
}

h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.slider-info span {
  margin: 19px 0;
  display: block;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.slider-info a,
.book-now a {
  margin-right: 4px;
  padding: 8px 21px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.slider-info a:hover,
.book-now a:hover {
  background-color: #fff; 
  color: #000;
}

.left-arrow,
.right-arrow {text-indent: -9999px;}

.left-arrow::before,
.right-arrow::before {
  position: absolute;
  top: 249px;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
}

.left-arrow::before {
  left: 4.7%;  
  content: '\f053';
}

.right-arrow::before {
  right: 4.7%;
  content: '\f054';
}
/* banner styling ends here */

/* explore styling starts here */
.explore { margin: 43px 0; }

h3 {
  margin: 14px 0;
  font-size: 20px;
  text-transform: capitalize;
}

h3 > span { font-weight: 600; }

.feature,
.explore figure {
  display: inline-block;
  vertical-align: top;
}

.feature { width: 48%; }

.explore figure { 
  width: 44%; 
  margin-left: 6.4%;
}

.explore li span {
  font-size: 31px;
}

.explore ul {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.explore ul p {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.user::before,
.tour::before,
.ship::before,
.gift::before {
  margin-bottom: 12px;
  display: block;
  color: #3E7FFC;
  font-family: FontAwesome;
  font-size: 23px;
}

.user::before { content: '\f118'; }
.tour::before { content: '\f21a'; }
.ship::before { content: '\f0c0'; }
.gift::before { content: '\f06b'; }
/* explore styling ends here */

/* trip plan styling starts here */
.trip-plan {
  padding: 31px 0;
  background-color: #3E7FFC;
  color: #fff;
  text-align: center;
}

.trip-plan p { color: #fff; }

h4 {
  margin: 34px 0;
  font-size: 30px;
  text-transform: capitalize;
}

.trip-plan ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.trip-plan li { width: 29%; }

.trip-plan span {     
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.pick::before,
.calendar::before,
.gifts::before {
  width: 25%;
  padding: 17px 0;
  border-radius: 50%;
  margin: 0 auto 18px;
  display: block;
  background-color: #fff;
  color: #3E7FFC;
  font-family: FontAwesome;
  font-size: 18px;
}

.pick::before { content: '\f041'; }
.calendar::before { content: '\f073'; }
.gifts::before { content: '\f06b'; }
/* trip plan styling ends here */

/* book-now styling starts here */
.book-now {
  padding: 50px 0;
  background-image: url(../images/p3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.book-now p { 
  width: 63%;
  color: #fff; 
}

h5 {
  color: #fff;
  font-size: 39px;
  text-transform: capitalize;
}
/* book-now styling ends here */
/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/ 
.upper-footer {
  padding: 52px 0;
  background-color: #151515;
  color: #fff;
}

.upper-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upper-footer li,
.upper-footer a { color: #75818C; }

.upper-footer p { font-size: 11px; }
.upper-footer li { flex-basis: 24%; }

h6 {
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
}

.upper-footer a,
address { font-size: 11px; }

.upper-footer span { 
  display: inline-block;
  font-size: 12px;
  text-transform: capitalize;
}

address { display: inline; }
.address a { margin-right: 10px; }

.address ul,
.travel-place ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.address li,
.travel-place li { margin-bottom: 6px; }

.travel-place ul { 
  width: 48%;
  display: inline-block;
  vertical-align: top;
 }

.travel-place a { text-transform: capitalize; }
.upper-footer .social-links { justify-content: left; }

.social-links li { 
  flex-basis: 16%; 
  text-align: center;
}

.social-links a { text-indent: -9999px; }

.social-links a::before {
  padding: 6px;
  float: right;
  color: #fff;
  font-family: FontAwesome;
  font-size: 12px;
  text-indent: 0;
}

.facebook::before { 
  content: '\f082'; 
  background-color: #3B5998;
}

.twitter::before { 
  content:"\f099"; 
  background-color: #3EA1F1;
}

.google::before { 
  content:"\f0d5"; 
  background-color: #DD4B39;
}

.linkedin::before { 
  content: '\f0e1'; 
  background-color: #2C76B5;
}

.upper-footer a:hover { color: #fff; }

.right-arrow:hover::before,
.left-arrow:hover::before,
.facebook:hover::before, 
.twitter:hover::before, 
.linkedin:hover::before, 
.google:hover::before,
.toggle-top:hover::after { color: #000; }

.country-list2 li { display: block; }
.news-letter p::first-letter { text-transform: capitalize; }

input {
  width: 100%;
  padding: 9px 0 9px 3%;
  border: 1px solid #75818C;
  background-color: transparent;
  color: #fff;
  font-size: 11px;
}

.news-letter { position: relative; }

.email::after {
  content: '\f1d8';
  position: absolute;
  right: 0;
  bottom: 73px;
  font-family: FontAwesome;
  font-size: 13px;
}

.lower-footer { 
  padding: 18px 0;
  position: relative;
  background-color: #000;
  color: #75818C;
  text-align: center;
}

.lower-footer span { font-size: 12px; }
.lower-footer span a { color: #F1F9F1; }
.lower-footer span a:hover { color: #75818C; }
.toggle-top { text-indent: -9999px; }

.toggle-top::after {
  content: '\f106';    
  padding: 4px 7px;
  border-radius: 50%;
  float: right;
  position: absolute;
  right: 2%;
  background-color: #2C76B5;
  color: #fff;
  font-family: FontAwesome;
  text-indent: 0;
}
/*=================================
footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) { .wrapper { width: 62%; } }  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 90%; }

  /*hamburger styling start*/

  .lines {display: block;}

  nav {
    background:none;
    width: 55px;
    height: 3px;    
    margin-bottom: 30px;
    float: right;
  }

  .line {display: block;}

  .lines span {
    width: 80%;
    height: 3px;
    margin-bottom: 4px;
    display: block;
    background-color: #000;
    text-indent: -999px;
  } 

  nav ul {
    width: 100%;
    display:none;
    position: absolute;
    top: 37px;
    right: 0;
    left: 0;
  }

  nav li {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #fff;
    background-color: #4F4F4F;
  }

  nav a {
    margin-left: 30px;
    color: #fff;
    text-align: center;  
  }


  .lines:hover + ul {
    display: block;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .lines:hover .one { 
    transform: translateY(0px) rotate(45deg);
  }

  .lines:hover .three { transform: translateY(-13px) rotate(135deg); }
  .lines:hover .two { transform: scale(0); }
  /*hamburger styling end*/

  .slider-info {
    width: 80%;
    top: 133px;
    left: 12%;
  }

  .slider-info a:hover,
  .book-now a:hover {
    background-color: transparent; 
    color: #fff;
  }

  .upper-footer a:hover { color: #75818C; }

  .right-arrow:hover::before,
  .left-arrow:hover::before,
  .facebook:hover::before, 
  .twitter:hover::before, 
  .linkedin:hover::before, 
  .google:hover::before,
  .toggle-top:hover::after { color: #fff; }

  .lower-footer span a:hover { color: #fff; }

  .explore li { width: 50%; }
  .feature { width: 100%; }
  .explore figure { width: 87%; } 

  p { font-size: 12px; }
}
